<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.MemberMapper">
    <select id="memberList" resultType="kr.ed.haebeop.domain.Member">
        select * from member
    </select>

    <select id="memberGet" resultType="kr.ed.haebeop.domain.Member">
        select * from member where id=#{id}
    </select>

    <select id="memberCount" resultType="kr.ed.haebeop.domain.Member">
        select COUNT(*) from member
    </select>

    <select id="idcheck" resultType="kr.ed.haebeop.domain.Member">
        select (id,pw,name) from member where id=#{id}
    </select>

    <select id="login" resultType="kr.ed.haebeop.domain.Member">
        select * from member where id=#{id}
    </select>

    <insert id="memberInsert" >
        insert into member(id, pw, name, email, tel, addr1, addr2, postcode, birth, grade) values(#{id}, #{pw}, #{name},#{email},#{tel},#{addr1},#{addr2},#{postcode},#{birth}, #{grade})
    </insert>

    <update id="memberUpdate" >
        update member set pw=#{pw},email=#{email},tel=#{tel},addr1=#{addr1},addr2=#{addr2},postcode=#{postcode} where id=#{id}
    </update>

    <delete id="memberDelete" >
        delete from member where id=#{id}
    </delete>

    <update id="memberUpdatePoint">
        update member set point=#{point} where id=#{id}
    </update>

    <select id="getMemberId" resultType="kr.ed.haebeop.domain.Member">
        select id from member where useYn = true and grade != 0
    </select>

</mapper>