<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.CourseMapper">
    <!--  course  -->
    <select id="courseList" resultType="kr.ed.haebeop.domain.Course">
        <![CDATA[
        select * from course
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()">
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'teacher'.toString()">
                        author LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="courseGet" resultType="kr.ed.haebeop.domain.Course">
        select * from course where courseNo=#{courseNo}
    </select>

    <select id="courseGetLast" resultType="kr.ed.haebeop.domain.Course">
        select * from course order by courseNo desc limit 1
    </select>

    <select id="courseCount" resultType="integer">
        <![CDATA[
        select count(*) from course
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()">
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'teacher'.toString()">
                        author LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <insert id="courseInsert" >
        insert into course(category, title, content, teacher, textbook, price, capacity, online, startdate, enddate, period, video) values(#{category}, #{title}, #{content}, #{teacher}, #{textbook}, #{price}, #{capacity}, #{online}, #{startdate}, #{enddate}, #{period}, #{video})
    </insert>

    <update id="courseUpdate" >
        update course set category=#{category}, title=#{title}, content=#{content}, teacher=#{teacher}, textbook=#{textbook}, price=#{price}, capacity=#{capacity}, online=#{online}, startdate=#{startdate}, enddate=#{enddate}, period=#{period}, video=#{video} where courseNo=#{courseNo}
    </update>

    <delete id="courseDelete" >
        delete from course where courseNo=#{courseNo}
    </delete>
</mapper>